/* make the login button icon match the text */
.d-header .login-button .fa {
    color:#fff;
}
/* modifications to the category boxes */
.category-boxes {
    .description {
        font-size: 0.9em;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
    }
    h3 {
        margin-bottom:0.2em;
        margin-top:0;
    }
    .category-box {
        .category-box-inner .category-logo{
            float:left;
        }
        .logo.aspect-image img {
            margin: 0;
        }
    }
    .subcategories {
        flex-flow: column;
        width: 100%;
        line-height:1.1em;

        .subcategory {
            margin-right: 0;
            margin-bottom: 0.2em;
            .category-name {
                color: #08c;
                font-weight:normal;
            }
            .subcategory-image-placeholder {
                display: inline-block;
                margin-right: 11px;
            }

            .logo img {
                margin: 0;
                display: inline-block;
                height: 18px;
                width: unset;
                max-width: unset;
            }

            .badge-wrapper {
                white-space:nowrap;
                overflow:hidden;
            }
        }
    }
}
/* set the header colours */
.d-header {
    background-color: #75d0f1;
    .d-icon {
        color:#808080;
    }
}
/* hide the edit username button from usr */
.pref-username .btn {
    display: none;
}
